@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    display: none;
}

.drawer-items a.active{
    color: white;
    background-color: transparent;
}
.drawer-items a:active{
    background-color: transparent;
}
.drawer-items a > svg:nth-child(1) {
    font-size: 28px;
}